<h1>Le jardin : {{garden.title}} a été validé par nos moderateur</h1>
<p>L'équipe O'potager vous remercie pour votre participation collaborative !</p>
{# <a href="{{url("app_movie_show",{id:movie.id, slug:movie.slug})}}">Allez voir votre annonce du jardin !</a> #}
<body>
    <a href="{{ url ("app_back_garden_show",{id:garden.id} )}}">Voir votre jardin</a>
</body>