{% extends 'base.html.twig' %}

{% block title %}Backoffice | Modifier un jardin{% endblock %}

{% block body %}
    <h1>Modifier un jardin</h1>

    {{ include('back/garden/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_back_garden_list') }}">Retour à la page liste</a>

    {{ include('back/garden/_delete_form.html.twig') }}

{% endblock %}
