{% extends 'base.html.twig' %}

{% block body %}

    <main class="container my-5">

        {% if status_code is same as 404 %}
            <h1>Oops la page que vous cherchez n'est pas accessible - {{status_code}}</h1>
            <img src="https://www.muitsun.com/wp-content/uploads/2017/02/how-to-custom-404-page.jpg" alt="404 not found">
        {% elseif status_code is same as 500 %}
            <h1>Oops nous rencontrons actuellement un soucis, merci de patienter 1 minutes et de réessayer - {{status_code}}</h1>
            <img src="https://149842033.v2.pressablecdn.com/wp-content/uploads/2020/04/Animated-Error-Page-Template.jpg" alt="500 error server">
        {% endif %}


        <a class="d-block" href="{{path('app_back_main_home')}}">Retourner sur la page d'accueil</a>
    </main>

{% endblock %}