
{{ form_start(form, {'method': 'POST'}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-info col-2 text-center my-3" formaction="{{ path('app_userCrud_list') }}">Submit</button>

{{ form_end(form) }}
